:root {
  --primary: #f9795f;
  --red: #c1542d;
  --dark-red: #9d1f1a;
  --pink: #fa92cb;
  --green: #176266;
  --yellow: #fbdd47;
  --light-yellow: #fbd597;
  --light-red: #ffe6da;
  --dark-yellow: #f5b251;
}
